<% include ./partials/header %>
<div id="container beeranimate">
  <div class="pour"></div>
  <div id="beaker">
    <div class="beer-foam">
      <div class="foam-1"></div>
      <div class="foam-2"></div>
      <div class="foam-3"></div>
      <div class="foam-4"></div>
      <div class="foam-5"></div>
      <div class="foam-6"></div>
      <div class="foam-7"></div>
    </div>
    <div id="liquid">
      <div class="bubble bubble1"></div>
      <div class="bubble bubble2"></div>
      <div class="bubble bubble3"></div>
      <div class="bubble bubble4"></div>
      <div class="bubble bubble5"></div>
    </div>
  </div>
</div>
<h2 class="animated drunk">Beer Buddy!</h2>
  <div class="content">
    <form id="submitBeer">
      <input class="form-control" type="text" name="beer" id="beer" placeholder="Enter Beer">
      <br>
      <input class="btn" type="submit" value="Find Matches">
    </form>
    <h1>Your Matches!</h1>
    <ul id="matches">
      <li></li>
    </ul>
    <br>
    <br>
    <input class="btn" type="submit" id="randomize" value="Random Beer">
    <br>
    <br>
    <ul id="randomBeer">
      <li id="beerName"></li>
      <br>
      <li id="beerDesc"></li>
      <br>
      <li id="beerPic"></li>
    </ul>
  </div>
  <div class="nothing"></div>
<% include ./partials/footer %>
