@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightblue;
  color:darkblue;
  font-family: 'Love Ya Like A Sister', cursive;
}

.navbar-brand, .navbar-nav>li>a {
  color:darkblue;
}

a {
  color: #00B7FF;
}

li {
  font-size:24px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-weight:bold;
}
#allUsers{
  list-style-type: none;
}

.header{
  text-align: center;
  margin-top:-50px;
  padding-bottom: 0px;
  background-color: #edaf32;
}

.footer {
  width:100%;
  height:100px;
  /*position:absolute;*/
  bottom:0;
  left:0;
  margin-top:100px;
  text-align:center;
}

#kickstart{
  color:green;
}

.beeranimate{
  position:absolute;
}

.beeranimate2{
  position:absolute;
  margin-right: 500px;
}


.container{
  padding:0px;
}

#new_user_form{
  width:400px;
  display:inline-block;
}

#sign_in_form{
  width:400px;
  display:inline-block;
  text-align:center;
}

ul {
  padding:0px;
}

#beer{
  display: inline-block;
  /*text-align: center;*/
  width:200px;
  margin-bottom: 10px;
}

#matches{
  /*text-align:center;*/
  list-style-type: none;
  padding:2%;
}

#randomBeer{
  list-style-type: none;
  max-width:400px;
  display: inline-block;
  padding:2%;
}

.content{
  text-align: center;
}

#beerName{
  font-size: 20px;
}








@import url(http://fonts.googleapis.com/css?family=Lato:700,900);

/*body { background-color: #0e83cd }*/

/*h2 {
  margin: 0 auto;
  width: 400px;
  font-size: 36px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: whiteSmoke;
  position:absolute;
}*/

#container {
  height: 370px;
  margin: 0 auto;
  overflow: hidden;
  position:absolute;
  top: -20px;
  width: 248px;
}

#container div { position: absolute; }

.pour {
  position: absolute;
  left: 8%;
  top: 25%;
  width: 20px;
  height: 0px;
  background-color: #edaf32;
  border-radius: 10px

}

#beaker {
  border: 10px solid #FFF;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
  left: 14px;
  bottom: 0;
  width: 200px;
  position:absolute;
}

#beaker:before,
#beaker:after {
  border: 10px solid #FFF;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  content: '';
  height: 30px;
  position: absolute;
  top: -40px;
  width: 30px;
  position:absolute;
}

#beaker:before { display:none;}
#beaker:after { display:none; }

#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 0 0 20px 20px;
  bottom: 0;
  height: 0px;
  overflow: hidden;
  width: 180px;
  position:absolute;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  -webkit-transform: rotate(15deg);
  width: 110px;
  position:absolute;
}

#liquid .bubble {
  -webkit-animation-name: bubble;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
  position:absolute;
}

@-webkit-keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

.bubble1 {
  left: 10px;
  -webkit-animation-delay: 1000ms;
  -webkit-animation-duration: 1000ms;
  position:absolute;
}

.bubble2 {
  left: 50px;
  -webkit-animation-delay: 700ms;
  -webkit-animation-duration: 1100ms;
  position:absolute;
}

.bubble3 {
  left: 100px;
  -webkit-animation-delay: 1200ms;
  -webkit-animation-duration: 1300ms;
  position:absolute;
}

.bubble4 {
  left: 130px;
  -webkit-animation-delay: 1100ms;
  -webkit-animation-duration: 700ms;
  position:absolute;
}

.bubble5 {
  left: 170px;
  -webkit-animation-delay: 1300ms;
  -webkit-animation-duration: 800ms;
  position:absolute;
}

/* Foam */

.beer-foam {
  position: absolute;
  bottom: 10px;
  position:absolute;
}

.foam-1, .foam-2, .foam-3, .foam-4,
.foam-5, .foam-6, .foam-7 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}
.foam-1 {
  top: -30px;
  left: -18px;
  position:absolute;
}
.foam-2 {
  top: -35px;
  left: 20px;
  position:absolute;
}
.foam-3 {
  top: -25px;
  left: 50px;
  position:absolute;
}
.foam-4 {
  top: -35px;
  left: 80px;
  position:absolute;
}
.foam-5 {
  top: -30px;
  left: 110px;
  position:absolute;
}
.foam-6 {
  top: -20px;
  left: 140px;
  position:absolute;
}
.foam-7 {
  top: -30px;
  left: 160px;
  position:absolute;
}

/* Drunk Text */

.animated {
  -webkit-animation-fill-mode:both;
     -moz-animation-fill-mode:both;
          animation-fill-mode:both;

  -webkit-animation-duration:5s;
     -moz-animation-duration:5s;
          animation-duration:5s;

  -webkit-animation-delay:3.5s;
     -moz-animation-delay:3.5s;
          animation-delay:3.5s;
          position:absolute;
}


.animated.drunk {
  -webkit-animation-duration:2s;
     -moz-animation-duration:2s;
          animation-duration:2s;
          position:absolute;
}

@-webkit-keyframes drunk {
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    position:absolute;
  }

  20%, 60% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    position:absolute;
  }
  40% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    position:absolute;
  }

  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    position:absolute;
    opacity: 1;
  }

  100% {
    -webkit-transform: translateY(700px);
    position:absolute;
    opacity: 0;
  }
}

@-moz-keyframes drunk {
  0% {
    -moz-transform: rotate(0);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    position:absolute;
  }

  20%, 60% {
    -moz-transform: rotate(80deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    position:absolute;
  }

  40% {
    -moz-transform: rotate(60deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    position:absolute;
  }

  80% {
    -moz-transform: rotate(60deg) translateY(0); opacity: 1;
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    position:absolute;
  }

  100% {
    -moz-transform: translateY(700px);
    position:absolute;
    opacity: 0;
  }
}

@keyframes drunk {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    position:absolute;
  }

  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    position:absolute;
  }

  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    position:absolute;
  }

  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1; transform-origin: top left;
    animation-timing-function: ease-in-out;
    position:absolute;
  }
  100% {
    transform: translateY(700px);
    position:absolute;
    opacity: 0;
  }
}

.drunk {
  -webkit-animation-name: drunk;
  -moz-animation-name: drunk;
  animation-name: drunk;
  position:absolute;
}



