<% include ../partials/header %>
<link rel="stylesheet" href="../stylesheets/style.css">
<center>
  <h1>All Users</h1>
  <ul id="allUsers">
  </ul>
</center>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="../javascripts/main.js"></script>
<% include ../partials/footer %>
