<form name="new_user_form" id="new_user_form" method="post" action="/users/sign_up">
    <div>
        <input type="text" name="name" id="name" placeholder="Full name">
    </div>
    <div>
        <input type="text" name="email" id="email" placeholder="Email address">
    </div>
    <div>
        <input type="text" name="password" id="password" placeholder="Password">
    </div>
    <div>
        <input type="text" name="zip" id="zip" placeholder="Zip Code">
    </div>
    <div>
        <input type="text" name="favoriteBeer" id="favoriteBeer" placeholder="Favorite beer">
    </div>
    <input type="submit" value="Save">
</form>
