<form name="new_brewery" id="new_brewery" method="post" action="/breweries/new">
    <div>
        <input type="text" name="name" id="name" placeholder="Full name">
    </div>
    <div>
        <input type="text" name="location" id="location" placeholder="Location">
    </div>
    <div>
        <input type="text" name="popularBeer" id="popularBeer" placeholder="Popular Beer">
    </div>
    <input type="submit" value="Save">
</form>
